@import "tailwindcss";

body {
  font-family: var(--font-geist-sans);
}

* {
  *::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}
